body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: #7CDCF0;
}
.quem-somos{
    background-color: #F77825;
    color:white;
}
.margin{
    padding-bottom: 30px;
    padding-top: 10px;
}
.parceiros{
    background-color: #070707;
    color:white;
    
}
.servicos{
    background-color: #e4915a;
    color:white; 
}
.rodape{
    background-color: #8ddcec;
}